.container {
  margin: auto;
  width: 25%;
  padding: 10px;
  padding-top: 3%;
}

.text-fields {
  margin-left: auto;
}

.textFieldName, .subTask {
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

.required {
  color: #D3072A;
}

.isRequired {
  float: right;
  color: #D3072A;
}

.mainCode {
  color: #181C32;
}

input[type=datetime-local], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #939393;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 5%;
  font-size: 18px;
  background-color: #F9F9F9;
  color: #939393;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #939393;
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 5%;
  font-size: 18px;
  background-color: #F9F9F9;
  color: #939393;
}

.issueDescription textarea {
  width: 100%;
  height: auto;
  min-height: 10rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #939393;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  background: #F9F9F9;
  color: #939393;
}

.dropDowns {
  margin-left: auto;
}

.textFieldName {
  float: left;
}

input[type=datetime-local]::-webkit-calendar-picker-indicator {
  background-image: url("../calendar.png");
  width: 5%;
}

.subTaskInput {
  background-color: #E3E3E3 !important;
}

/* Dropdown styles */
.customer {
  margin-top: 15%;
  margin-bottom: 5%;
}

.dropdown {
  max-width: 48%;
  margin: 8px 8px 8px 2px;
  position: relative;
  width: 100%;
  float: left;
  padding-left: 0%;
}

.submitButton {
  text-align: center;
}

.submitBtn {
  background: #0090D7;
  font-size: 18px;
  width: 100%;
  border: none;
  color: #fff;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: center;
}

.dropdown2 {
  max-width: 48%;
  margin: 8px 8px 8px 0px;
  position: relative;
  width: 100%;
  float: left;
  padding-left: 0%;
  padding-right: 0%;
}

.dropdown-btn {
  background: #E3E3E3;
  font-size: 18px;
  width: 100%;
  border: none;
  color: #939393;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.dropdown-btn:hover {
  border: 2px solid #0090D7;
}

.arrow {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #0090D7;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  top: 3.2em;
  left: 0rem;
  padding-left: 0%;
  width: 100%;
}

.dropdown-content li {
  background: #939393;
  border-radius: 0.5em;
}

.dropdown-content li:hover {
  background: #939393;
}

.dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #000;
  margin: 0.1em 0;
  text-decoration: none;
}

.dropdown-content {
  visibility: hidden;
}

.dropdown-btn:focus + .dropdown-content {
  visibility: visible;
}

.dropdown-btn:focus > .arrow {
  transform: rotate(180deg);
}/*# sourceMappingURL=style.css.map */